/* -------------------- Schedule Table -------------------- */
div#scheduleTable
{
    border:none;
    display:inline-block;
}
div#scheduleTable div
{
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
div#scheduleTable > div { display:table }
div#scheduleTable > div.schedule-content {border-top-style:hidden}/* to avoid double borders */
div#scheduleTable > div > div
{
    display:table-cell;
    vertical-align:middle
}
div#scheduleTable > div > div:first-child { width:120px }
div#scheduleTable > div > div:nth-child(2)
{
    width:210px;
    border-left: 1px solid;
	border-left-color: inherit;
    border-right: 1px solid;
	border-right-color: inherit
}
div#scheduleTable > div > div:last-child{ width:210px;}

/* -------------------- Schedule Table Header -------------------- */
div.schedule-header {height:22px}
div.schedule-header > div {text-align:center}

/* -------------------- Schedule Table Body -------------------- */
div.schedule-content {height:30px}

/* box-sizing doesn't work in FireFox for table-cell*/
@-moz-document url-prefix(){ div.schedule-content > div:first-child{width:110px!important;}}
div.schedule-content > div:first-child
{
    padding-left: 10px;
	font-weight: bold;
	color: #696969
}
div.schedule-content > div:nth-child(2)
{   
    color: Black;
    font-weight: normal
}
div.schedule-content > div:last-child
{
    margin-left: 5px;
	margin-right: 5px;
	color: Black;
	font-weight: normal;
	max-height: 20px
}

/* -------------------- Working Time -------------------- */
div.schedule-workingTime {margin-left:3px;}
div.schedule-workingTime > div {display:inline-block;vertical-align:middle}
div.schedule-workingTime > div:last-of-type {white-space: nowrap;margin-left:0px}
div.schedule-workingTime > div.workingTimeImg
{
	cursor: pointer;
    padding-top:2px;
	width: 22px;min-height: 22px;max-height: 22px;
    background-repeat:no-repeat;background-position: 2px 2px
}
div.schedule-workingTime:first-of-type > div.workingTimeImg{background-image:url(../img/workingHours.png);margin-top:4px}
div.schedule-workingTime:nth-of-type(2) > div.workingTimeImg{background-image:url(../img/roundTheClock.png);margin-top:2px}
div.schedule-workingTime:last-of-type > div.workingTimeImg{background-image:url(../img/dayOff.png);margin-top:2px}

/* -------------------- Breaks -------------------- */
div.breakRow {display:table;border:1px solid transparent}
div.breakRow > div
{
	color: Black;
    display:table-cell;
    vertical-align:middle;
	padding-right: 5px;
	font-weight: normal;white-space: nowrap
}
div.breakRow > a
{
    display:block;
    cursor: pointer;text-decoration:none;
	margin-top:3px;height:16px;
    width:16px;min-width:16px!important;
    background-image: url(../img/delete.png);
    background-repeat:no-repeat;
}
div.breakRow > a:hover{background-image: url(../img/deleteActive.png)}

div.breaksContainer
{
	cursor: pointer;
	min-height: 20px;
	line-height: 20px;
	white-space: nowrap;
    margin-left:5px;
    margin-right:5px;
	border: 1px solid transparent
}
div.breaksDialog
{
	display: none;
	margin-left: 5px
}